@font-face {
  font-family: 'Monoton';
  src: local('Monoton'),
    url(~assets/monoton/Monoton-Regular.ttf) format('truetype');
}

:root {
  --background: rgb(238, 237, 237);
  --text: #305d8d;
  --accent: #2c7d95;
  --nav-link: var(--accent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #35495e;
    --text: #fff;
    --accent:  #2c7d95;
    --nav-link: #fff;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Monoton';
  /* font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; */
  font-weight: 300;
  color: var(--text);
  letter-spacing: 1px;
}

.page-title {
  text-align: center;
  margin-top: 40px;
  font-size: 3rem;
}

p,
ul {
  color: var(--text);
}

.link {
  position: relative;
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.link,
.link:hover,
.link:focus,
.link:active {
  color: var(--nav-link);
  text-decoration: none;
}

.link::after {
  content: '';
  position: absolute;
}

.link-container .link::after {
  top: 98%;
  height: 2px;
  width: 0%;
  left: 5%;
  background-color: var(--nav-link);
  transition: 0.5s ease all 0.3s;
}

.link-container:hover .link::after {
  width: 90%;
  transition: 0.3s ease all;
}
